.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url("../res/images/themes/mainTheme.jpg");
    background-repeat: repeat-x;
    padding: 20px 30px 20px 30px;
    height: 20%;
    border-radius: 7px;
  }
  .headerText {
    flex-grow: 8;
    font-family: 'Playfair Display', serif;
    letter-spacing: 20px;
    background: linear-gradient(to right, #f7efe6, #f2dac2, #e8c6a5, #d4ac85, #b08a64, #d4ac85, #e8c6a5, #f2dac2, #f7efe6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 90%;
    height: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
  }
  #backIcon, #faqIcon {
    flex-grow: 1;
    width: 40px;
    height: 40px;
  }
  #backIcon:hover, #faqIcon:hover {
    cursor: pointer;
  }
  #backIcon{
    top: 30px;
    left: 40px;
  }
  #faqIcon {
    position: absolute;
    top: 30px;
    right: 40px;
  }